.logo {
    display: flex;
    justify-content: center;
    margin:0px;
    padding: 0px;
    background-color: #083b58;
}

.logo-img {
    width: 100px;
    height: auto;
}

.max-width-6 {
    max-width: 600px;
}
